*.swp
*.swo
docuptmp
*.log
*.a
*.so
*.o
*.so
*.import.*
*.link
*.o*
*.meta
*.link
*.dep
*.zo
*.class
old
retropikzel.*
import
test/import
pffi-define
test/pffi-define
size-of
test/*
test
!test/*.scm
retropikzel/pffi/*/*.o*
retropikzel/pffi/*/*.so
retropikzel/pffi/*/compiled
tmp
dockerfiles/build
.scheme_testrunner
core
testfile.test
*.rkt
testfile.test
snow
foreign/c/lib
README.html
*.tgz
*.tar.gz
foreign/c/primitives/chibi/foreign-c.c
*.pdf
.*
foreign/c.c
*.tmp
test-r6rs.scm
