*.swp
*.swo
docuptmp
*.log
*.a
*.so
*.o
*.so
*.import.*
*.link
*.o*
*.meta
*.link
*.dep
*.zo
*.class
old
retropikzel.*
import
test/import
pffi-define
test/pffi-define
size-of
test/*
test
!test/*.scm
retropikzel/pffi/*/*.o*
retropikzel/pffi/*/*.so
retropikzel/pffi/*/compiled
tmp
dockerfiles/build
.scheme_testrunner
core
testfile.test
*.rkt
testfile.test
snow
foreign/c/lib
README.html
*.tgz
*.tar.gz
foreign/c/primitives/chibi/foreign-c.c
*.pdf
.*
foreign/c.c
*.tmp
test-r6rs.scm
test.c
test-r6rs
test-r6rs.c
test-r6rs.sps
test-r7rs
test-r7rs.c
test-r7rs.scm
Akku.lock
Akku.manifest
srfi
test-r6rs-primitives
test-r6rs-primitives.sps
test-r7rs-primitives
test-r7rs-primitives.scm
*.json
.akku
foreign/c/*.c
